
/*TO DO:  MAKE NAV COLLAPSIBLE & ADD A HAMBURGER TO HTML NAV*/

body, html{
  color: white;
  height: 100%
  width: 100%
  /*margin: 0;*/
  /*padding: 0;*/
  /*things to do:
  */
}

.main.container-fluid{
  margin:0;
  padding: 0;
}

.navbar{
  background-color: rgb(108, 154, 226);
  color: white;
}

a {
  color: white;
  float: right;
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}
.hero-image{

  background-image: url("../img/hero.jpg");
  background-size: cover;
  height: 50%;
  padding: 100px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text{
  text-align: center;
  color:white;
}

.orderBtn{
  color: white;
  padding: 10px 20px;
  margin: 20px;
  background-color: red;
  border: none;
  outline:none;

}
/*MAIN 3-COL FLEXBOX*/
.marginal {
  width: 75%;
  margin:auto;
}

h3 {
  color: red;
}
h2{
  color:black;
}

/*https://www.w3schools.com/cssref/playit.asp?filename=playcss_align-items&preval=flex-start*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    display: flex;
  align-items: flex-start;
  justify-content: space-between;


}
.flex-item {
    color: white;
    width: 33%;
    margin: 0px;
}
.sell{
  color:black;
}
/*FOOTERS....................*/
#footer {
  background-color: rgb(108, 154, 226)

}



#copyright{
  background-color:rgb(25, 73, 150);
  margin: auto;
}
#copyrightText{
  margin: auto;
}
