html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
	padding-top:70px;
	/*padding-top is so body isn't hidden a little behind navbar*/

}

.navbar-inverse {
	background: cornflowerblue;

}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #21357d;
}


.navbar-inverse .navbar-brand{
	color:white;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}
/*look in inspector and grab the selector that will give you what you want*/
/*STYLES FOR INDEX PAGE.................................................*/
#hero{
	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-position: center;
	margin-top 0;
}

#hero-text{
	text-align:center;
	padding: 10%;

}
.here{
  height:100px;
}

/*STYLES FOR MAIN......................................................*/
/*maybe helpful: http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#create*/
/**/
.flexcontainer {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: flex-start;
  /*margin: 10px;*/
}

/*STYLES FOR MENU......................................................*/
.menuGrid{
	width:45%;
  margin: 10px;
	/*height:200px;*/
	/*background-color: blue;*/
}
.card{
  min-width: 150px;
}
.thumbnail{
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin:20px auto;
	width: 45%;
  min-width: 150px;

}
.float{
	float:left;
}

.card-img-top{
  display: inline-block;
	width: 90%;
  /*height: 100px !important;*/
}

.card-block{
  width: 90%
  display: inline-block;
}
/*STYLES FOR CART......................................................*/

.cartOrder{
	width:45%;
	/*height:200px;*/
	/*background-color: yellow;*/
}
input{
  margin: 5px;
  /*width: 50%;*/
}
btn btn-primary {
  margin: 5px;
}

aside {
  position: absolute;
  top: 0; left: 0; right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: none; }
aside.active { display: block; }
aside figure { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 25px; border: 3px solid black; box-shadow: 0 0 5px black; text-align: center; }
aside figure img { border-radius: 50%; margin-bottom: 10px; }
aside figure button { margin-top: 30px; border: 0; padding: 8px 20px; border-radius: 10px; background-color: green; color: white; }
/*STYLES FOR FOOTER.....................................................*/
#activeFooter{
	background-color: cornflowerblue;
	color: white;
}
#copyright{
	background-color: #21357d;
	color: white;
}


	.footer {
/*  position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
