html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
	padding-top:70px;
	/*padding-top is so body isn't hidden a little behind navbar*/

}

.navbar-inverse {
	background: cornflowerblue;

}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #21357d;
}


.navbar-inverse .navbar-brand{
	color:white;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}
/*look in inspector and grab the selector that will give you what you want*/
/*STYLES FOR INDEX PAGE.................................................*/
#hero{
	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-position: center;
	margin-top 0;
}

#hero-text{
	text-align:center;
	padding: 10%;

}
.here{
  height:100px;
}

/*STYLES FOR MAIN......................................................*/
/*maybe helpful: http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#create*/
/**/
.flexcontainer {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: flex-start;
  /*margin: 10px;*/
}

/*STYLES FOR MENU......................................................*/
.menuGrid{
	width:45%;
	/*height:200px;*/
	/*background-color: blue;*/
}
.thumbnail{
	display: inline-flex;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin:20px auto;
	width: 45%;

}
.float{
	float:left;
}

.card-img-top{
	width: 100px;
}
/*STYLES FOR CART......................................................*/

.cartOrder{
	width:45%;
	/*height:200px;*/
	/*background-color: yellow;*/
}
/*STYLES FOR FOOTER.....................................................*/
#activeFooter{
	background-color: cornflowerblue;
	color: white;
}
#copyright{
	background-color: #21357d;
	color: white;
}


	.footer {
/*  position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  

