body, html{
  /*color: white;*/
  height: 100%
  width: 100%
  /*margin: 0;*/
  /*padding: 0;*/
  /*things to do:
  get rid of the white margin
  */
}

.navbar{
  background-color: rgb(108, 154, 226);
  color: white;
}
p{
  color:black:
}
a {
  color: white;
  float: right;
}
/* ORDER............................................*/
#menu-cart{
  background-color: yellow;
  width:100%;
}
#menuSide{
  background-color: grey;
}
#orderSide{
  background-color: yellow;
  

}

.card{
  
  width: 200px;


}

.red {
  color: red;
}








/* SORT OUT WHICH IS NOT NEEDED OR GOES INTO NAVBAR.CSS..............................................*/

#menu {
  background-color: chartreuse;
  height:200px;
}

#order{
  background-color: yellow;
  height: 200px;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
.flex-item {
    color: black;
    /*background-color: cornflowerblue;*/
    width: 33%;
    /*height: 100px;*/
    margin: 10px;
}

/*FOOTERS....................*/
#footer {
  background-color: rgb(108, 154, 226)

}



#copyright{
  background-color:rgb(25, 73, 150);
  margin: auto;
}
#copyrightText{
  margin: auto;
}
